

/* .header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    padding:1rem 2rem;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}

.header .logo{
    font-size: 2.5rem;
    color:#fff;
} */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition:all .2s linear;
    font-family: 'Poppins', sans-serif;
    text-decoration-style: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
img
{
    width: 15%;
    height: 15%;
}